@font-face{
    font-family: 'bignoodletitling';
    src: url('font/bignoodletitling.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    color: #696969;
    font-size: 14px;
    line-height: 100%;
    font-weight: 300;
}
 
.logo{
    display: block;
    position: absolute;
    bottom: auto;
}
 
.logo>a>img{
    height: 60px;
    padding-right: 10px;
    margin-top: -10px;
}
 
.logo>a{
    font-family: 'bignoodletitling';
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 70%;
    color: #696969;
    text-transform: uppercase;
    font-size: 20px;
    line-height: initial;
}
 
.topheader{
    height: 144px;
    position: fixed;
    width: 100%;
    z-index: 99999;
    background-color: white;
    transition: 0.3s;
}

.topheader.is-fixed{
    height: 80px;
}

.topheader.is-fixed a{
    margin-top: 5px; 
}
 
.banner{
    background: url(images/slider.jpg) #353535;
    background-blend-mode: multiply, normal; 
    min-height: 700px;
    align-items: center;
    background-size: cover;
    width: 100%;
    display: flex;
    text-align: center;
}

.banner h2{
    font-size: 3rem;
    font-family: 'bignoodletitling';
}

.banner p{
    font-size: 2rem;
    font-family: 'bignoodletitling';
}

.scrolldown{
    position: absolute;
    margin-top: 15%;
    left: calc(50% - 45px);

}
.scrolldown img{
    margin-bottom: 20px;
}
.scrolldown p{
    margin-bottom: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

h3{
    font-family: 'bignoodletitling';
    font-size: 38px;
    text-transform: uppercase;

}
.head_white_content{
    text-align: center;
    width: 100%;
    padding: 90px;
}

.head_white_content span{
    width: 154px;
    height: 3px;
    background-color: #f15324;
    display: inline-block;
}

.head_white_content p{
    padding: 25px 60px 0px;
}

.aboutus{
    margin-bottom: 90px;
}

.advantage{
    text-align: center;
    width: 100%;
    background: #ebebeb;
    padding: 30px;
}

.advantage span{
    font-size: 60px;
    color: #f4511e;
}

.advantage h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #707070;
    padding: 25px 0 13px;    
}

.advantage p{
    color: #707070;
    font-size: 14px;
    line-height: 100%;
}

.somefuture{
    text-align: center;
    padding: 60px 0;
    background:#171f23;
}

.head_black_content{
    text-align: center;
    padding-bottom: 20px; 
}

.head_black_content h4{
    color: white;
    text-transform: uppercase;
    font-size: 26px;
}

.head_black_content span{
    width: 86px;
    height: 2px;
    background: #404040;
    display: inline-block;
}

.numeral span{
    font-size: 60px;
    color: #f4511e;
}

.numeral p{
    color: #f6f6f6;
    font-size: 18px;
    padding-top: 30px 0; 
    font-weight: 300;
}

.numeral h5{
    font-weight: 300;
    font-size: 48px;
    color: #f6f6f6;
}

#filters {
    margin: 1% auto;
    width: 100%;
    text-align: center;
    padding: 0;
    list-style: none;
}
#filters li {
    display: inline-block;
    padding: 5px 10px;
}
.filter {
    display: block;
    line-height: 110%;
    text-decoration: none;
    color: #3d3d3d;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
}
.filter.active {
    font-weight: 700;
    color: #3d3d3d;
    border-bottom: 1px solid #e84c3d;
}
 
 
 
.imgDisc2{
    position: absolute;
    color: #fff;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    padding-top: 120px;
    cursor: pointer;
    transition: 0.5s;
    top: 0;
    left: 0;
    bottom: 0;
}
 
.portfolio-wrapper:hover .imgDisc2{
    visibility: visible;
    opacity: 1;
}
.imgDisc2 h1{
    font-size: 20px;
    text-transform: uppercase;
}
 
#portfoliolist .portfolio{
    border: none !important;
    width: 20%;
    float: left;
    overflow: hidden;
    display: none;
}
 
.portfolio-wrapper{
    overflow: hidden;
    position: relative !important;
    cursor: pointer;
}
 
.portfolio img{
    width: 100%;
    display: block;
    position: relative;
}

.clearfix {
    display: block;
}

.team{
    margin-bottom: 90px;
}

.price{
    text-align: center;
    padding: 60px 0;
    background:#171f23;
}

.addit_info{
    padding: 20px 0;
    color: #f6f6f6;
}

.price-content-head{
    background: #0e1316;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 0 30px;
}
.price-content-head h4{
    padding-top: 6px;
    font-size: 24px;
}

.price-content-head p{
    margin-top: 25px;
    padding: 0 25px;
    font-size: 14px;
}
 
.price-content-body{
    background: #1f282c;
    padding: 45px 0 40px;
    letter-spacing: 1px;
    font-weight: 300;
    font-weight: 300;
}

.price-content-body p{
    font-size: 15px;
    padding-bottom: 20px;
    color: #ffffff;
 
}

.price-content-body p span{
    font-size: 14px;
    font-weight: 700;
    margin-right: 2px;
}

.price-content-body a{
    background: #f4511e;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 30px;
}

.price-content{
    width: 110%;
}
 
.price-content:hover{
    border: 1px solid #f15324;
}

.price-content:hover .price-content-body>p>span{
    color: #f15324;
}

.sinner1{
    min-height: 440px;
    padding: 70px 90px;
    text-align: center;
    background-color: #ebebeb;
}
 
.sinner1 a img{
    width: 20%;
}
 
.sinner1 h4{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'bignoodletitling';
}
 
.sinner2{
    min-height: 440px;
    padding: 70px 90px 60px;
    background: #ebebeb;
}
 
.sinner2 h4{
    font-family: 'bignoodletitling';
}

.team .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute; 
    bottom: 50px;
    width: 100%;
    left: -34%; 
}

.partners{
    padding: 60px 0;
    background:  url(images/cbanner.jpg) #171f23;
    background-size: cover;
    text-align: center;
    font-size: 20px;
}

.sliders{
    display: flex;
    align-items: center;
}

.innerwidth{
    widows: 70%;
    margin: 0 auto;

}


.getintouch {
    padding: 80px 0; 
}
 
.textinput { 
    width: 50%;
    margin: 40px 0;
}
     
.textinput p, .textmsg p {
    font-weight: 700;
    color: #696969;
    margin-bottom: 5px;
}
     
.textinput input {    
    border: 0;  
    border-bottom: 1px solid #cacaca;  
    width: 90%;    
    height: 40px;    
    outline: 0;   
}
     
.textinput p span, .textmsg p span { 
    color: #f6744b; 
    margin-left: 5px;
}
     
.getintouch form {     
    width: 70%;    
    margin: 0 auto;     
}
     
.textmsg textarea {
    border: 0;
    border-bottom: 1px solid #cacaca;
    width: 95%;
    height: 80px;
    outline: 0;
    padding-top: 10px;
}
     
.submit{
    width: 205px; 
    height: 50px; 
    letter-spacing: 1px;
    background: #f6744b;   
    border: 1px solid #f6744b;     
    color: #fff;    
    text-align: center;    
    display: block;    
    line-height: 50px;     
    margin: 50px auto 0;    
    font-weight: 700;    
}

.submit:hover{
    color: #f6744b;
    background: #fff;
    transition: 1s;
}

.textmsg textarea:focus , .textinput input:focus{
    box-shadow: 0px 1px 2.98px 4.02px rgba(246, 116, 75, 0.5);
}

.map{
    background-color: black;
    padding: 30px 0;
    text-align: center;
    cursor: pointer;
}

.map h4{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ebebeb;
    display: inline-block;
}

.map span{
    margin-left: 10px;
    font-weight: 700;
    color: #f15324;
    font-size: 24px;
}

.accordion-open span::before{
    font-family: 'Linearicons-Free';
    content: "\e873";
}

.accordion-close span::after{
    font-family: 'Linearicons-Free';
    content: "\e874";
}

footer {
    background-color: #404040;
    text-align: center;
    padding-top: 20px;;
    height: 300px;
}

footer h4 {
    color: white;
    border-spacing: 1px;
    font-family: 'bignoodletitling';
    padding: 10px 0;
    text-transform: uppercase;
}

footer p{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.social-lg img{
    height: 40px;
}

#send_form{ 
    transition: all 1s ease-out;
}

.send_fail{
    padding: 2%; 
    box-shadow: 0 0 10px rgba(255, 1, 1, 0.3); 
    border: 2px solid rgba(255, 1, 1, 0.3);
}

/* Стили прелоадера */
.preload{
    width: 100%;
    height: 100%;
    background: #171f23;
    position: fixed;
    z-index: 999999;
}

#spinSquares{
    position: relative;
    width: 234px;
    height: 28px;
    margin: auto;
    top: 50%;
}

.spinSquar{
    position: absolute;
    top: 0;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    animation-name: spinningSquares;
    animation-duration:1.5s;
    animation-iteration-count:infinite;
    transform:scale(0.3);
}
/* Сдвиг квадратов в пространстве и анимации */
#spinSquar_1{
    left: 0px;
    animation-delay: 0.6s;
}

#spinSquar_2{
    left: 28px;
    animation-delay: 0.75s;
}

#spinSquar_3{
    left: 56px;
    animation-delay: 0.9s;
}

#spinSquar_4{
    left: 84px;
    animation-delay: 1.05s;
}

#spinSquar_5{
    left: 112px;
    animation-delay: 1.2s;
}
#spinSquar_6{
    left: 140px;
    animation-delay: 1.35s;
}
#spinSquar_7{
    left: 168px;
    animation-delay: 1.5s;
}
#spinSquar_8{
    left: 196px;
    animation-delay: 1.65s;
}
 
@keyframes spinningSquares{
	0%{
		transform:scale(1);
	}
 
	100%{
		transform:scale(0.3) rotate(90deg);
	}
}

.send_success{
    padding: 2%;
    box-shadow: 0 0 10px rgba(1, 255, 1, 0.3);
    border: 2px solid rgba(1, 255, 1, 0.3;
}